<nav class="nav" [class.show]="navShow">
  <div class="close">
    <a class="brand" href="/">ToDo</a>
    <button (click)="hideNav()">
      <svg class="icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M1.034 22.53a.8.8 0 001.132 1.132l9.948-9.948 9.948 9.948a.8.8 0 101.131-1.132l-9.948-9.948L23.662 2.166a.8.8 0 00-1.132-1.132L12.114 11.451 1.697 1.034A.8.8 0 10.566 2.166l10.416 10.416-9.948 9.948z"
          fill="#000" /></svg>
    </button>
  </div>
  <ul>
    <li><a routerLink="/tasks/inbox" routerLinkActive="active">Inbox</a></li>
    <li><a routerLink="/tasks/today" routerLinkActive="active">Today</a></li>
    <li><a routerLink="/tasks/upcoming" routerLinkActive="active">Upcoming</a></li>
    <li><a routerLink="/tasks/completed" routerLinkActive="active">Completed</a></li>
    <li><a routerLink="/tasks/my-project" routerLinkActive="active">My Project</a></li>
    <li class="settings"><a routerLink="/settings" routerLinkActive="active">Settings</a></li>
  </ul>
</nav>
<div class="curtain" [class.show]="navShow" (click)="hideNav()"></div>
